body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.navbar{
    font-size: 1.2rem;
    display: flex;
    color: black;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding: 1em 15%;
    background-color:white;
    box-shadow: 0 3px 6px #8888;
}
.nav-item{
    text-decoration: none;
    margin-left: 20px;
}
.container1{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 1%;
    grid-gap: 20px;
    background-color: #f5f8fa;
}
.menu{
    grid-column: 1/4;
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,150px);
    grid-gap: 25px;
    padding: 0.3em 0;
}
.card{
    background-color: white;
    text-align: center;
    padding: 2%;
    box-shadow: 0 3px 6px #8888;
    padding-top: 20%;
}
.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.card-box{
    text-decoration: none;
    color: #333;
    text-align: center;
    display: block;
    font-size: 0.8rem;
}
h3{
    font-size: 1rem;
    cursor: pointer;
}
.content{
    grid-column: 4/-1;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
#content-img{
    display: block;
    margin: auto;
   
}
.mid-img{
    background: #3f4079 url(../images/hero_home_bg_1.svg) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}