*{
    margin: 0;
    padding: 0;
}

.back-img{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.login-body{
    background: none;
    margin: 14% 26% 0 26%;
    padding: 6% 10%;
    /* border: 0.1rem solid white; */
    box-shadow: 2px 5px 10px #888888;
    border-radius: 12px;
    background-color: white;
    
}

.icon-dv{
    margin-top: 20px;
}